{% extends "template.html.twig" %}

{% block title %}Catalogue | {{ name.nom_cat|convert_encoding('UTF-8', 'ISO-8859-1') }}{% endblock %}

{% block content %}
    <main>
        <h1>{{ name.nom_cat|convert_encoding('UTF-8', 'ISO-8859-1') }}</h1>
        <a id="return-cat" class="return" href="{% filter escape %}{% spaceless %}{{ referer }}{% endspaceless %}{% endfilter %}"><i class="fa fa-arrow-left"></i> Retour</a>
        <section id="sect-cat" class="clearfix">
            {% for p in prods %}
            <article class="item-prod">
                <h3><a href="/produit/{% filter escape %}{% spaceless %}{{ p.ref_prod }}{% endspaceless %}{% endfilter %}">{{ p.nom_prod|convert_encoding('UTF-8', 'ISO-8859-1') }}</a></h3>
                <p id="p-img"><img src="/upload/img/{% filter escape %}{% spaceless %}{{ p.image_prod }}{% endspaceless %}{% endfilter %}" /></p>
                <p id="p-prix">A partir de {{ p.prix|raw }}</p>
            </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
